<p><%= link_to "Send Text mail", send_text_mail_path %></p>
<p><%= link_to "Send HTML mail", send_html_mail_path %></p>
<p><%= link_to "Send Multipart mail", send_multipart_mail_path %></p>
<p><%= link_to "Send Attachments mail", send_attachments_mail_path %></p>

<p><%= link_to "View dashboard", letter_thief.root_path %></p>
